extends ../../layouts/master
block content
  h1 Squares
  //- h2 The squares of #{x}, #{y}, and #{z} is #{squares}
  ul 
    each n, i in numbers
      ul The square of #{numbers[i]} is #{squares[i]}


      
